@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; 
    line-height: 2;
}

.intro-image {

    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.712), rgba(0, 0, 0, 0.075)) ,url('../img/candles.jpeg'); 
    background-position: center;
    background-size: cover;
}

.intro-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.btn {
    color: rgb(70, 2, 31);
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    background-color: rgba(209, 226, 55, 0.747);
}

.btn:hover {
    transform: scale(1.1);
}

.intro-text {
    background-color: rgb(252, 152, 39);
    height: 32vh;
    margin-top: -1.6rem;
    margin-bottom: -1.5rem;
    text-align: center;
    padding-top: 3rem;
    clip-path: polygon(51% 11%, 100% 0, 100% 43%, 100% 100%, 52% 89%, 0 100%, 0 100%, 0 0, 0 0);
}

.packaging-image {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.26), rgba(0, 0, 0, 0.075)) ,url('../img/pack.jpeg');
    background-position: center;
    background-size: cover;
}